## FROM GEEKS FOR GEEKS

In [27]:
from datetime import datetime
today = datetime.now()
print ("Today is "+ str(today))

Today is 2020-07-24 18:57:04.732971

In [3]:
from datetime import timedelta, datetime
today = datetime.now()
diff = timedelta(days=1)
print (f"Today is {today}")
print (f"Yesterday was {today - diff}")

Today is 2020-07-24 18:43:38.923218
Yesterday was 2020-07-23 18:43:38.923218

In [8]:
# Entering dates
import datetime
my_date = datetime.date(2020, 7, 24)
print (my_date)
print (my_date.day)
print (my_date.month)
print (my_date.year)

2020-07-24
24
7
2020

In [16]:
# Todays date
import datetime
to_day = datetime.date.today()
print (to_day)
print("Date components", to_day.year, to_day.month, to_day.day)

2020-07-24
Date components 2020 7 24

In [24]:
# Year, Month, Day, Hour, Minute, Second, Microsecond
from datetime import datetime
today = datetime(2020,7,24,6,53,55,5465)
print (today)
print (today.year)
print (today.month)
print (today.day)
print (today.hour)
print (today.minute)
print (today.second)
print (today.microsecond)

2020-07-24 06:53:55.005465
2020
7
24
6
53
55
5465

## From W3Schools

In [38]:
import datetime
x = datetime.datetime(2020, 5, 17)
print(x)

2020-05-17 00:00:00

In [39]:
import datetime
x = datetime.datetime.now()
print(x.year)
print(x.strftime("%A"))

2020
Friday

In [40]:
# Creating Date Objects
# To create a date, we can use the datetime() class (constructor) of the datetime module.
# The datetime() class requires three parameters to create a date: year, month, day.
import datetime
x = datetime.datetime(2020, 5, 17)
print(x)

2020-05-17 00:00:00

### The strftime() Method
The datetime object has a method for formatting date objects into readable strings. The method is called strftime(), and takes one parameter, format, to specify the format of the returned string.

        %a	Weekday, short version	                Wed
        %A	Weekday, full version	                Wednesday
        %w	Weekday as a number 0-6, 0 is Sunday	3
        %d	Day of month 01-31	                    31
        %b	Month name, short version	            Dec
        %B	Month name, full version	            December
        %m	Month as a number 01-12	                12
        %y	Year, short version, without century	18
        %Y	Year, full version	                    2018
        %H	Hour 00-23	                            17
        %I	Hour 00-12	                            5
        %p	AM/PM	                                PM
        %M	Minute 00-59	                        41
        %S	Second 00-59	                        8
        %f	Microsecond 000000-999999	            548513
        %z	UTC offset	                            100
        %Z	Timezone	                            CST
        %j	Day number of year 001-366	            365
        %U	Week number of year, 
        Sunday as the first day of week, 00-53	    52
        %W	Week number of year, 
        Monday as the first day of week, 00-53	    52
        %c	Local version of date and time	        Mon Dec 31 17:41:00 2018
        %x	Local version of date	                12/31/18
        %X	Local version of time	                17:41:00
        %%	A % character	                        %

In [41]:
import datetime
x = datetime.datetime(2018, 6, 1)
print(x.strftime("%B"))

June

https://www.programiz.com/

In [43]:
# Example 1: Get Current Date and Time

import datetime
datetime_object = datetime.datetime.now()
print(datetime_object)

2020-07-24 19:17:40.748950

In [45]:
# Example 2: Get Current Date

import datetime
date_object = datetime.date.today()
print(date_object)

2020-07-24 19:17:51.285923

In [46]:
# Example 2A: Get Current Date

import datetime
date_object = datetime.datetime.today()
print(date_object)

2020-07-24 19:18:06.131365

#### Example 5: Get date from a timestamp
We can also create date objects from a timestamp. A Unix timestamp is the number of seconds *between a particular date and January 1, 1970 at UTC*. You can convert a timestamp to date using fromtimestamp() method.

In [52]:
import datetime

timestamp = datetime.datetime.fromtimestamp(1326244364)
print("Date =", timestamp)
print ("===============================")
timestamp = datetime.date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-11 06:12:44
===============================
Date = 2012-01-11

In [54]:
# Example 6: Print today's year, month and day
# We can get year, month, day, day of the week etc. from the date object easily. Here's how:

from datetime import datetime
# date object of today's date
today = datetime.today() 
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)
print ("==========================")
today = datetime(1983, 9, 24)
print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2020
Current month: 7
Current day: 24
==========================
Current year: 1983
Current month: 9
Current day: 24

In [55]:
# datetime.time
# A time object instantiated from the time class represents the local time. 
# Example 7: Time object to represent time

from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print("a =", a)

# time(hour, minute and second)
b = time(11, 34, 56)
print("b =", b)

# time(hour, minute and second)
c = time(hour = 11, minute = 34, second = 56)
print("c =", c)

# time(hour, minute, second, microsecond)
d = time(11, 34, 56, 234566)
print("d =", d)

a = 00:00:00
b = 11:34:56
c = 11:34:56
d = 11:34:56.234566

In [56]:
# Example 8: Print hour, minute, second and microsecond
# Once you create a time object, you can easily print its attributes such as hour, minute etc.

from datetime import time
a = time(11, 34, 56)
print("hour =", a.hour)
print("minute =", a.minute)
print("second =", a.second)
print("microsecond =", a.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

In [57]:
#Example 9: Python datetime object

from datetime import datetime
#datetime(year, month, day)
a = datetime(2018, 11, 28)
print(a)
# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

In [59]:
# Example 10: Print year, month, hour, minute and timestamp

from datetime import datetime
a = datetime(2017, 11, 28, 23, 55, 59, 342380)
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp(), "from 1970 UTC")

year = 2017
month = 11
hour = 23
minute = 55
timestamp = 1511895359.34238 from 1970 UTC

In [60]:
# datetime.timedelta
# A timedelta object represents the difference between two dates or times.
# Example 11: Difference between two dates and times

from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

In [64]:
# Example 12: Difference between two timedelta objects

from datetime import timedelta
t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33, microseconds=5464654)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54, microseconds=51057)
t3 = t1 - t2
print("t3 =", t3)

t3 = 14 days, 13:55:44.413597

In [69]:
# Example 14: Time duration in seconds
# You can get the total number of seconds in a timedelta object using total_seconds() method.

from datetime import timedelta
t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("total seconds =", t.total_seconds())

total seconds = 435633.233423

## Python format datetime
The way date and time is represented may be different in different places, organizations etc. It's more common to use mm/dd/yyyy in the US, whereas dd/mm/yyyy is more common in the UK.

Python has strftime() and strptime() methods to handle this.

### Python strftime() - datetime object to string
The strftime() method is defined under classes date, datetime and time. The method creates a formatted string from a given date, datetime or time object.Here, %Y, %m, %d, %H etc. are format codes. The strftime() method takes one or more format codes and returns a formatted string based on it.

In the program below, t, s1 and s2 are strings.

        %Y - year [0001,..., 2018, 2019,..., 9999]
        %m - month [01, 02, ..., 11, 12]
        %d - day [01, 02, ..., 30, 31]
        %H - hour [00, 01, ..., 22, 23
        %M - minute [00, 01, ..., 58, 59]
        %S - second [00, 01, ..., 58, 59]

### Python strptime() - string to datetime
The strptime() method creates a datetime object from a given string (representing date and time).
The strptime() method takes two arguments:

        a string representing date and time
        format code equivalent to the first argument

By the way, %d, %B and %Y format codes are used for day, month(full name) and year respectively.

Format Code List
The table below shows all the format codes that you can use.

Directive	Meaning	Example

    %a	Abbreviated weekday name.	Sun, Mon, ...
    %A	Full weekday name.	Sunday, Monday, ...
    %w	Weekday as a decimal number.	0, 1, ..., 6
    %d	Day of the month as a zero-padded decimal.	01, 02, ..., 31
    %-d	Day of the month as a decimal number.	1, 2, ..., 30
    %b	Abbreviated month name.	Jan, Feb, ..., Dec
    %B	Full month name.	January, February, ...
    %m	Month as a zero-padded decimal number.	01, 02, ..., 12
    %-m	Month as a decimal number.	1, 2, ..., 12
    %y	Year without century as a zero-padded decimal number.	00, 01, ..., 99
    %-y	Year without century as a decimal number.	0, 1, ..., 99
    %Y	Year with century as a decimal number.	2013, 2019 etc.
    %H	Hour (24-hour clock) as a zero-padded decimal number.	00, 01, ..., 23
    %-H	Hour (24-hour clock) as a decimal number.	0, 1, ..., 23
    %I	Hour (12-hour clock) as a zero-padded decimal number.	01, 02, ..., 12
    %-I	Hour (12-hour clock) as a decimal number.	1, 2, ... 12
    %p	Locale’s AM or PM.	AM, PM
    %M	Minute as a zero-padded decimal number.	00, 01, ..., 59
    %-M	Minute as a decimal number.	0, 1, ..., 59
    %S	Second as a zero-padded decimal number.	00, 01, ..., 59
    %-S	Second as a decimal number.	0, 1, ..., 59
    %f	Microsecond as a decimal number, zero-padded on the left.	000000 - 999999
    %z	UTC offset in the form +HHMM or -HHMM.	 
    %Z	Time zone name.	 
    %j	Day of the year as a zero-padded decimal number.	001, 002, ..., 366
    %-j	Day of the year as a decimal number.	1, 2, ..., 366
    %U	Week number of the year (Sunday as the first day of the week). All days in a new year preceding the first Sunday are considered to be in week 0.	00, 01, ..., 53
    %W	Week number of the year (Monday as the first day of the week). All days in a new year preceding the first Monday are considered to be in week 0.	00, 01, ..., 53
    %c	Locale’s appropriate date and time representation.	Mon Sep 30 07:06:05 2013
    %x	Locale’s appropriate date representation.	09/30/13
    %X	Locale’s appropriate time representation.	07:06:05
    %%	A literal '%' character.	%

In [71]:
# Example 15: Format date using strftime()

from datetime import datetime

# current date and time
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("time:", t)

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

time: 19:39:02
s1: 07/24/2020, 19:39:02
s2: 24/07/2020, 19:39:02

In [1]:
from datetime import datetime

now = datetime.now() # current date and time

year = now.strftime("%Y")
print("year:", year)

month = now.strftime("%m")
print("month:", month)

day = now.strftime("%d")
print("day:", day)

time = now.strftime("%H:%M:%S")
print("time:", time)

date_time = now.strftime("%m,%d,%Y, %H:%M:%S")
print("date and time:",date_time)

year: 2020
month: 07
day: 25
time: 16:49:50
date and time: 07,25,2020, 16:49:50

In [83]:
from datetime import datetime

timestamp = 1528797322
date_time = datetime.fromtimestamp(timestamp)

print("Date time object:", date_time)

d = date_time.strftime("%m/%d/%Y, %H:%M:%S")
print("Output 2:", d)	

d = date_time.strftime("%d %b, %Y")
print("Output 3:", d)

d = date_time.strftime("%d %B, %Y")
print("Output 4:", d)

d = date_time.strftime("%I %p")
print("Output 5:", d)

d = date_time.strftime("%H Hours %p")
print("Output 5:", d)

Date time object: 2018-06-12 14:55:22
Output 2: 06/12/2018, 14:55:22
Output 3: 12 Jun, 2018
Output 4: 12 June, 2018
Output 5: 02 PM
Output 5: 14 Hours PM

In [76]:
# Example 16: strptime()

from datetime import datetime
date_string = "21 June, 2018"
print("date_string =", date_string)
date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_string = 21 June, 2018
date_object = 2018-06-21 00:00:00