# FOR LOOP

In [1]:
# Here range will run this loop for 05 times
for a in range (5): 
    print ("Shahid Iqbal")

Shahid Iqbal
Shahid Iqbal
Shahid Iqbal
Shahid Iqbal
Shahid Iqbal

In [2]:
# Here range will run this loop for 05 times
for a in range (5): # 0-4 times the loop will run and 05 will be excluded
    print (a, "Shahid Iqbal")

0 Shahid Iqbal
1 Shahid Iqbal
2 Shahid Iqbal
3 Shahid Iqbal
4 Shahid Iqbal

In [3]:
for number in range (10):
    print (number)

0
1
2
3
4
5
6
7
8
9

In [4]:
# Here we gave the starting number in range
for number in range (1,10): # it will run till 9 and not 10
    print (number)

1
2
3
4
5
6
7
8
9

In [5]:
# Range (start,end,every 2nd element)
for number in range (1,10,2): # it will run till 9 and not 10
    print (number)

1
3
5
7
9

In [6]:
# Range (start,end,every 2nd element) in reverse order
# For reverse order jumping should be in negative
for v in range (10,1,-2): 
    print (v)

10
8
6
4
2

In [7]:
cities = ["Khi","Multan","Quetta"]
for city in cities:
    print (f"The city under consideration is {city}")

The city under consideration is Khi
The city under consideration is Multan
The city under consideration is Quetta

In [8]:
for num in [11,22,33,44,55]:
    print (num)

11
22
33
44
55

In [9]:
country = "Pakistan"
for char in country: # Using String
    print (char)

P
a
k
i
s
t
a
n

In [10]:
country = "Pakistan", "America"
# It became Tupple
for char in country: # Using String
    print (char)

Pakistan
America

In [11]:
# For BREAK & CONTINUE

In [12]:
for num in range (10):
    if num % 3 == 1:
        break
    print (num)

0

In [13]:
for num in range (10):
    if num % 2 != 0:
        break
    print (num)

0

In [14]:
for num in [5,7,11,90]:
    if num % 3 == 0: 
        # This will break the series when the num/3 remainder comes zero
        break
    print (num)

5
7
11

In [15]:
for num in range (10):
    if num == 7:
        continue # Continue will run the program and will skip 7 only
    print (num)

0
1
2
3
4
5
6
8
9

In [16]:
for num in range (10):
    if num == 7:
        break # this will stop the chain completely
    print (num)

0
1
2
3
4
5
6

In [17]:
for num in range (10):
    if num == 7 or num==4:
        continue # Continue will run the program and will skip 4 & 7 only
    print (num)

0
1
2
3
5
6
8
9

In [18]:
for num in range (10):
    if num == 7 or num==4:
        break
    print (num)

0
1
2
3

# NESTED FOR LOOP

In [19]:
for a in range(5): # First Loop
    print ("Inner Loop Begins")
    for char in "China": # Inner Loop (This wil run with every value of a in range 5)
        print (a, char)

Inner Loop Begins
0 C
0 h
0 i
0 n
0 a
Inner Loop Begins
1 C
1 h
1 i
1 n
1 a
Inner Loop Begins
2 C
2 h
2 i
2 n
2 a
Inner Loop Begins
3 C
3 h
3 i
3 n
3 a
Inner Loop Begins
4 C
4 h
4 i
4 n
4 a

In [20]:
for a in range(5): # First Loop
    print ("Inner Loop Begins")
    if a <=3:
        for char in "China": # Inner Loop (This wil run with every value of a in range 5)
            print (a, char)

Inner Loop Begins
0 C
0 h
0 i
0 n
0 a
Inner Loop Begins
1 C
1 h
1 i
1 n
1 a
Inner Loop Begins
2 C
2 h
2 i
2 n
2 a
Inner Loop Begins
3 C
3 h
3 i
3 n
3 a
Inner Loop Begins

In [21]:
tableno = int(input("Enter Table Number:"))
for a in range (1,13):
    print (f"{tableno} * {a} = {tableno*a}")

Enter Table Number:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24

In [22]:
tables = int(input("Enter the range of Tables: "))
for table in range(2, tables+1):
    for a in range (1,13):
        print (f"{table} * {a} = {table*a}")
    print("\n")

Enter the range of Tables: 4
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
3 * 11 = 33
3 * 12 = 36


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48